#interface{
    display: flex;
    flex-direction: row;
    flex: auto;
    position: fixed;
    top: 0 ; left: 0;
    height: 100vh;
    width: 100vw;
    >.segment, >div>.segment{
        margin: 0;
    }
    #catalog{
        width: 20%;
        // background: yellow;
        height: 100%;
        overflow: scroll;
    }
    #dispatch{
        background: url("/images/wov.png") repeat;
        position: relative;
        height: 100%;
        width: 50%;
        #preview{
            // background: red;
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: row;
            padding: 0;
            .image{
                width: 50%;
                height: 100%;
                overflow: hidden;
                img{
                    min-height: 100%;
                    min-width: 100%;
                }
            }
            &>.segment{
                margin: 0;
                width: 50%;
                height: 100%;
                overflow: scroll;
            }
        }
        #spouts{
            width: 100%;
            // background: blue;
            height: 70%;
            padding: 20% 22%;
            .spout{
                background: white;
                display: inline-block;
                margin: 1rem 3rem;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                // background: white;
                border: solid 1px gray;
                overflow: hidden;
                .card, .card .image, .card .image img{ width: 100%; height: 100%; }
                .card{
                    .label, .content{
                        display: none;
                    }
                }
            }
        }
        #bin{
            position: absolute;
            bottom: -5rem;
            left: 0;
            right: 0;
            height: 10rem  ;
            width: 10rem ;
            line-height: 2rem;
            font-size: 1rem;
            text-align: center;
            margin: auto;
            padding: 2rem;
            border-radius: 50%;
            transition: all 0.5s ease;
            &:hover{
                bottom: -12.5rem;
                height: 25rem  ;
                width: 25rem;
                padding: 8rem;
            }
        }
    }
    #payment{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: 100%;
        // background: grey;
        height: 100%;
    }
}
