@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

// Colors

@gray: rgb(247, 248, 249);
@blue: rgb(84, 164, 224);
@blue-bg: rgb(27, 48, 64);
@green: rgb(71, 200, 96);
@green-disabled: rgb(173, 216, 179);
@whit: rgb(255, 255, 255);

// Typography

@sans-serif: "Lato", Helvetica, sans-serif;
@baseline: 15px;