<template name="payment">
	<section id="payment" class="{{ status.state }}">

		<div id="test">
			<button id="pending">
				pending
			</button>
			<button id="fail">
				fail
			</button>
			<button id="success">
				success
			</button>
			<button id="reset">
				reset
			</button>
		</div>

		<h2 id="payment-help">Payment
			<span>			
				{{ status.help }}
			</span>
		</h2>
		<div id="payment-total">
			{{{ status.content }}}
		</div>
		<div id="payment-order">
			<p>You have ordered:</p>
			<ul>

				{{#each drinks}}
				<li>
					{{ drink }}
				</li>
				{{/each}}
			</ul>
		</div>
		<a href="/" id="payment-abort">
			back to ordering
		</a>
	</section>

</template>