<template name="preview">
    <div class="ui basic segment" id="preview">
        <div class="image left floated">
            <img src="/images/{{drink.preview}}.jpg">
            <div class="ui top right attached blue label">$ {{drink.price}}</div>
        </div>
        <div class="ui basic segment">
            <h2 class="ui header">
                {{drink.name}}
                <div class="sub header">{{drink.catch}}</div>
            </h2>
            <div class="ui basic segment">
                {{{drink.description}}}
            </div>
        </div>

    </div>

</template>
