<template name="preview">
    <div class="ui basic segment" id="preview">
        <div class="image left floated">
            <img src="/images/c-expresso.jpg">
            <div class="ui top right attached label">$ 1</div>
        </div>
        <div class="ui basic segment">
            <h2 class="ui header">
                Expresso
                <div class="sub header">For a quick break!</div>
            </h2>
            <div class="ui basic segment">
                Quia recusandae eveniet et vitae ea. Amet illum quasi est. Aut voluptate qui nisi ut. Et earum unde necessitatibus laborum debitis. Dolores incidunt recusandae ut voluptatibus saepe culpa.
            </div>
        </div>

    </div>

</template>
