<template name="bill">
    <div class="ui basic segment" id="payment">
        <div id="bill" class="ui middle aligned divided list">
            <div class="item">
                <div class="right floated content">
                    $2
                </div>
                <img class="ui avatar image" src="/images/c-expresso.jpg">
                <div class="content">
                    <a class="header">Expresso</a>
                </div>
            </div>
            <div class="item">
                <div class="right floated content">
                    $2
                </div>
                <img class="ui avatar image" src="/images/c-cappuccino.jpg">
                <div class="content">
                    <a class="header">Cappuccino</a>
                </div>
            </div>
            <div class="item">
                <div class="right floated content">
                    $2
                </div>
                <img class="ui avatar image" src="/images/c-expresso.jpg">
                <div class="content">
                    <a class="header">Expresso</a>
                </div>
            </div>
        </div>
        <div id="sum" class="ui horizontal statistic">
            <div class="value">
                6
            </div>
            <div class="label">
                dollars
            </div>
        </div>

        <div id="pay" class="ui huge icon labeled fluid button primary">
            <i class="payment icon"></i>
            pay and serve
        </div>

    </div>
</template>
