<template name="payment">
    <div class="ui basic segment" id="payment">
        <div id="bill" class="">
            <div class="ui header">
                Receipt
            </div>
            <div class="ui divider"></div>
            <div id="item-list" class="ui middle aligned large relaxed list">

            </div>
        </div>

        <div id="pay" class="ui huge icon labeled fluid button primary">
            <i class="payment icon"></i>
            pay and serve
        </div>

    </div>
</template>
