<template name="payment">
    <div class="ui basic segment" id="payment">
        <div id="bill" class="">
            <div class="ui header">
                Receipt
            </div>
            <div class="ui divider"></div>
            <div class="ui middle aligned large relaxed list">

                <div class="item">
                    <div class="right floated content">
                        $2
                    </div>
                    <div class="content">
                        <p>Expresso</p>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        $2
                    </div>
                    <div class="content">
                        <p>Expresso</p>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        $2
                    </div>
                    <div class="content">
                        <p>Expresso</p>
                    </div>
                </div>
                <div id="sum" class="item">
                    <div class="ui divider"></div>
                    <div class="right floated content">
                        $6
                    </div>
                    <div class="content">
                        <p>Total</p>
                    </div>
                    <div class="ui divider"></div>

                </div>
            </div>
        </div>

        <div id="pay" class="ui huge icon labeled fluid button primary">
            <i class="payment icon"></i>
            pay and serve
        </div>

    </div>
</template>
